a {
	text-decoration: none;
}

body {
	margin:0px;
	padding:0px;
}
.menu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	background-image: url(../images/MENU.png);
	background-size: cover;
	background-position: center;
	height: 45px;
	margin: 0px;
	padding-left: 0px;
}

.menu li {
	list-style: none;
	color: white;
	padding-left:5px;
	font-family: Gotham;
	font-weight: bold;
	letter-spacing: 3.5px;
	padding: 13px;
	text-align: center;
}

.menu li:hover {
	background:#cbe1ef;
	color: #30616f;
}
.name{
	height: 30px;
	margin: 25px;
	margin-left: 350px;
	margin-right: 350px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}
.name h2{
	text-align: center;
	font-family: Gotham;
	color: #043744;
}
.travel {
	height: 250px;
	background-image: url(../images/travel.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 35px;
	margin-bottom: 25px;
}
.aboutme {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-gap: 25px;
	height: 300px;
	width:1320px;
	margin: 25px;
	margin-top: 65px;
	padding-left: 0px;

}
.left {
	display: grid;
	grid-template-columns: 1fr;
	height: 300px;
	width: 320px;
	padding-left: 0px;
	background-image: url(../images/left.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.middle{
	display: grid;
	grid-template-columns: 1fr;
	height: 300px;
	padding-left: 30px;
}
.right{
	display: grid;
	grid-template-columns: 1fr;
	height: 300px;
	width: 430px;
	padding-left: 0px;
	border-left: 2px solid black;
	background-image: url(../images/right.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 20;
}

.right p {
	font-family: Gotham;
	font-size: 26px;
	letter-spacing: 2px;
	padding-left: 50px;
	text-align: center;
}

.middle p {
	font-family: Gotham;
	font-size: 20px;
	padding-left: 50px;
}

.story{
	height: 260px;
	margin: 60px;
	margin-left: 100px;
	margin-right: 100px;
	border: 2px solid #043744;
	border-left: 15px solid #043744;
}
.story p {
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
	font-family: Gotham;
	text-align: justify;
	font-size: 18px;
}
.content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap:5px;
	height: 155px;
	margin-top: : 50px;
	margin-bottom: 50px;
	margin-left: 25px;
	margin-right: 25px;
}
.calendar {
	background-image: url(../images/calendar.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height:150px;
	width: 200px;
}
.calendar-text {
	height:150px;
	width: 200px;
}
.calendar-text p {
	font-family: Gotham;
	text-align: justify;
	text-indent: 20px;
	font-size: 18px;
}
.placeholder {
	background-image: url(../images/placeholder.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height:150px;
	width: 200px;
}
.placeholder-text {
	height:150px;
	width: 200px;
}
.placeholder-text p {
	font-family: Gotham;
	text-align: justify;
	text-indent: 20px;
	font-size: 18px;
}
.world {
	background-image: url(../images/world.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height:150px;
	width: 200px;
}
.world-text {
	height:150px;
	width: 200px;
}
.world-text p {
	font-family: Gotham;
	text-align: justify;
	text-indent: 20px;
	font-size: 18px;
}

.footer{
	background-image: url(../images/footer.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 160px;
	margin-top: 25px;
}
